In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
datasets=pd.read_csv('data2.csv')

In [4]:
datasets

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,NaN,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [5]:
x=datasets.iloc[:,[3,4]].values

In [6]:
x

array([[0.   , 0.538],
       [0.   , 0.469],
       [0.   , 0.469],
       ...,
       [0.   , 0.573],
       [0.   , 0.573],
       [0.   , 0.573]])

In [8]:
from sklearn.cluster import DBSCAN

In [10]:
dbscan=DBSCAN(eps=3,min_samples=4)

In [12]:
model=dbscan.fit(x)

In [14]:
labels=model.labels_

In [17]:
from sklearn import metrics

In [19]:
sample_cores=np.zeros_like(labels,dtype=bool)

In [21]:
sample_cores[dbscan.core_sample_indices_]=True

In [22]:
n_clusters=len(set(labels))-(1 if -1 in labels else 0)

In [25]:
print(metrics.silhouette_score(x,labels))

ValueError: Number of labels is 1. Valid values are 2 to n_samples - 1 (inclusive)